@using MovieExplorer.Common
@using MovieExplorer.Web.ViewModels.Movies
@using MovieExplorer.Data.Models
@model IEnumerable<MovieViewModel>

<a class="btn-secondary d-md-inline-block" asp-controller="Home" asp-action="Index" asp-route-id="@this.User.Identity.Name">Movie online</a>

<div class="row">
    @foreach (var item in this.Model)
    {
        <div class="card col-md-3 rounded" style="width: 60px; height: 550px; background-color: gray">
            <img class="card-img-top" height="380" width="60" src="@item.ImageUrl" alt="Image" />
            <div class="card-body">
                <h4 class="card-title text-center">
                    <a class="row-cols-1 text-dark" asp-controller="Movie" asp-action="MoviePage" asp-route-id="@item.MovieId">@item.Name</a>
                </h4>
                <form class="form-group row" method="post">
                    <div class="col-md-4">
                        <p>@item.ReleaseDate.ToString("yyyy")</p>
                    </div>
                    <div class="col-md-6">
                        <button class="form-control btn-dark" asp-controller="Movie" asp-action="AddMovieToUser" asp-route-id="@item.MovieId">Add</button>
                    </div>
                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                    {
                        <div class="col-md-6 justify-content-xl-center row">
                            <button class="form-control btn-dark" asp-controller="Movie" asp-action="Delete" asp-route-id="@item.MovieId">Delete</button>
                        </div>
                    }
                </form>

            </div>
        </div>
    }
</div>
