@using MovieExplorer.Common
@using MovieExplorer.Web.ViewModels.Movies
@using MovieExplorer.Data.Models
@model ListMovieViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#create">Create</button>

    <div class="col">
        <div class="collapse" id="create">
            <div class="card card-body bg-dark">
                <a class="btn btn-success" asp-controller="Movie" asp-action="Create">Create Movie</a>
                <a class="btn btn-success" asp-controller="Director" asp-action="Create">Create Director</a>
                <a class="btn btn-success" asp-controller="Country" asp-action="Create">Create Country</a>
                <a class="btn btn-success" asp-controller="Actor" asp-action="Create">Create Actor</a>
                <a class="btn btn-success" asp-controller="Genre" asp-action="Create">Create Genre</a>
            </div>
        </div>
    </div>
}

@if (this.TempData.ContainsKey("AlreadyAdded"))
{
 <div class="alert alert-danger alert-dismissible">
     <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
     @this.TempData["AlreadyAdded"]
 </div>
  
}

@if (this.User.Identity.IsAuthenticated)
{
    if ((string)this.ViewData["Error"] == "You have already added this movie!")
    {
        <span class="field-validation-error"><span id="ssn-message">The SSN already exists.</span></span>
        <img height="380" width="60" src="https://s3.amazonaws.com/scribblelive-com-prod/wp-content/uploads/sites/4/2020/08/stage-en-error-1020.png" alt="Alternate Text" />
    }
}

<div class="d-flex" id="wrapper">

    <div class="border-right" style="background-color: lightslategrey" id="sidebar-wrapper">
        <div class="sidebar-heading">
            <h4>
                Genre options
            </h4>
        </div>
        <div class="list-group list-group-flush">
            @foreach (var item in this.Model.AllGenres)
            {
                <a asp-controller="Genre" asp-action="AllMovies" asp-route-id="@item.Id" class="list-group-item list-group-item-action bg-dark text-light">@item.GenreName</a>
            }
        </div>
    </div>

    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightslategrey">
            <button type="button" class="btn btn-info" id="menu-toggle">Toggle Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


        </nav>

        <div class="container-fluid">
            <div class="slideshow-container">
                @for (int i = 0; i < 3; i++)
                {
                    <div class="mySlides">
                        <div class="row">
                            @foreach (var item in this.Model.AllMovies.OrderByDescending(m => m.Rate).Skip(i * 4).Take(4))
                            {
                                <div class="col-md-3">
                                    <div class="numbertext col-md-">1 / 3</div>
                                    <a class="row-cols-1 text-dark" asp-controller="Movie" asp-action="MoviePage" asp-route-id="@item.MovieId">
                                        <img class="embed-responsive rounded" src="@item.ImageUrl" height="200" width="200" alt="Image">
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }

                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>


            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>

            <pre class="tab"></pre>

            <form style="margin: auto" method="post" asp-controller="Movie" asp-action="Search">
                <div class="row- rounded-pill text-center">
                    <input asp-for="@this.Model.Search.Title" class="form-control" placeholder="What are you looking for?">
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Go!</button>
                </div>
            </form>

            <pre class="tab"></pre>

            <div class="row">
                @foreach (var item in this.Model.AllMovies.OrderByDescending(m => m.ReleaseDate))
                {
                    @await Html.PartialAsync("_PartialViewMovie", item)
                }
            </div>
        </div>
    </div>

</div>

<pre class="tab"></pre>

