@using MovieExplorer.Common
@using MovieExplorer.Web.ViewModels.Movies
@using MovieExplorer.Data.Models
@model IEnumerable<MovieViewModel>
@{
    this.ViewData["Title"] = "Home Page";
}

@if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <a class="btn-primary" asp-controller="Movie" asp-action="Create">Create Movie</a>
    <a class="btn-primary" asp-controller="Director" asp-action="Create">Create Director</a>
    <a class="btn-primary" asp-controller="Country" asp-action="Create">Create Country</a>
    <a class="btn-primary" asp-controller="Actor" asp-action="Create">Create Actor</a>
    <a class="btn-primary" asp-controller="Genre" asp-action="Create">Create Genre</a>
}

<div class="row">
    @foreach (var item in this.Model)
    {

        <form class="form-group" method="post">
            <div class="col-md-4 justify-content-xl-center row">
                <img hight="300" width="250" src="@item.ImageUrl" alt="Image" />
                <a class="row-cols-1" asp-controller="Movie" asp-action="MoviePage" asp-route-id="@item.MovieId">@item.Name</a>
                <button class="form-control btn-success" asp-controller="Movie" asp-action="Delete" asp-route-id="@item.MovieId">Delete</button>
                <button class="form-control btn-success" asp-controller="Movie" asp-action="AddMovieToUser" asp-route-id="@item.MovieId">Add</button>
            </div>
        </form>
    }
</div>
<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
